body {
    padding-top: 40px;
}

.pic {
    width: 100%;
    transition: transform .2s;
    border-radius: 13% 13%;
}

.evil{
    width: 100%;
}

.pic:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px gray;
}

.caption {
    margin: auto auto;
}

.fade {
    opacity:0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

#mobile {
    display: none;
}

#Calc {
    display: none;
}



#evil {
    display: none;
}